.App {
  text-align: center;
}

.App-header {
  border: crimson solid;
}

.App-body {
  border: indigo solid;
}

.App-footer {
  border: beige solid;
}

.header {
  margin-bottom: 30px;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.login {
  margin-bottom: 30px;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightslategrey;
  padding: 30px;
  width: 40%;
}

.upload {
  margin-top: 32px;
}

.match-card {
  margin-bottom: 10px;
  border: 1px solid lightslategrey;
}
